/*******************************
           Fonts
*******************************/
@font-face {
  /* font-family: "JLR-regular";
    src: url('./fonts/jlremeric-regular-webfont.ttf'),
         url('./fonts/jlremeric-regular-webfont.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal; */
}
